{% extends "layout-v2.html" %}

{% block pageScripts %}
<script type="text/javascript" src="/js/reveal.js"></script>
<script type="text/javascript" src="/js/comments.js"></script>

<script>
  function closeRightMenu() {
    document.getElementByClass("nhsuk-sidebar-hidden").style.display = "none";
  }
  $(document).ready(function() {
    $(".sidebarbttn").click(function() {
      $(".nhsuk-sidebar-hidden").toggle();
    });

  });
</script>

<script>
  $(".char-textarea").on("keyup", function(event) {
    checkTextAreaMaxLength(this, event);
  });

  function checkTextAreaMaxLength(textBox, e) {

    var maxLength = parseInt($(textBox).data("length"));


    if (!checkSpecialKeys(e)) {
      if (textBox.value.length > maxLength - 1) textBox.value = textBox.value.substring(0, maxLength);
    }
    $(".char-count").html(maxLength - textBox.value.length);

    return true;
  }

  function checkSpecialKeys(e) {
    if (e.keyCode != 8 && e.keyCode != 46 && e.keyCode != 37 && e.keyCode != 38 && e.keyCode != 39 && e.keyCode != 40)
      return false;
    else
      return true;
  }
</script>


<script>
  function toggle(btnID, eIDs) {
    // Feed the list of ids as a selector
    var theRows = document.querySelectorAll(eIDs);
    // Get the button that triggered this
    var theButton = document.getElementById(btnID);
    // If the button is not expanded...
    if (theButton.getAttribute("aria-expanded") == "false") {
      // Loop through the rows and show them
      for (var i = 0; i < theRows.length; i++) {
        theRows[i].classList.add("shown");
        theRows[i].classList.remove("hidden");
      }
      // Now set the button to expanded
      theButton.setAttribute("aria-expanded", "true");
      // Otherwise button is not expanded...
    } else {
      // Loop through the rows and hide them
      for (var i = 0; i < theRows.length; i++) {
        theRows[i].classList.add("hidden");
        theRows[i].classList.remove("shown");
      }
      // Now set the button to collapsed
      theButton.setAttribute("aria-expanded", "false");
    }
    $('.expanderButton[aria-expanded="true"]').closest('tr').addClass('expandedRow');
    $('.expanderButton[aria-expanded="false"]').closest('tr').removeClass('expandedRow');
  }
</script>

<!-- clickable rows with hover colour -->
<script type="text/javascript">
  $(document).ready(function() {
    $('.clickable-table tr').click(function(event) {
      if (event.target.type !== 'radio') {
        $(':radio', this).trigger('click');
      }
    });

    $("input[type='radio']").change(function(e) {
      e.stopPropagation();
      $('.clickable-table tr').removeClass("highlight_row");
      if ($(this).is(":checked")) {
        $(this).closest('tr').addClass("highlight_row");
      }
    });
  });
</script>


<style media="screen">
  .highlight_row {
    background: #d8dde0;
  }

  #lab {
    background-color: #f0f4f5;
  }
</style>

<style type="text/css" media="screen">
  .nhsuk-header__navigation-item:nth-child(3) {
    border-bottom: 4px solid #d8dde0;
  }
</style>


{% endblock %}
{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}

{% block header %}
{% include '../components/header.html' %}
{% endblock %}

{% block content %}

{{ backLink({
  "href": "patient-review",
  "text": "Back to patient review"
}) }}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1 class="nhsuk-heading-l nhsuk-u-margin-top-2">Review changes made during bypass process</h1>
  </div>
</div>


{{ insetText({
  "HTML": "<h2 class=\"nhsuk-heading-m\">Participant has had an episode change</h2><p>Please review and approve or reject the changes made.</p>"
}) }}

<h3>Lab patient demographics</h3>

    <table class="nhsuk-table-clickable bna-table">
      <thead>
        <tr>
          <th style="width: 25%">Name
          </th>
          <th style="width: 25%">Date of birth
          </th>
          <th style="width: 25%">NHS number
          </th>
          <th style="width: 25%">View address
          </th>
        <tr>
      </thead>

      <tbody>
        <!-- LAB DEMOGRAPHICS -->
        <tr class="nhsuk-table__row">
          <td>Tanya Parr</td>
          <td>19-09-1993</td>
          <td>910 000 2798</td>
          <td class="nhsuk-table__cell">
            <button class="expanderButton" type="button" id="btn1" aria-expanded="false" onclick="toggle(this.id,'#row1');" aria-controls="row1" aria-label="More details for" aria-labelledby="row1"></button>
          </td>
        </tr>
        <tr id="row1" class="hidden detailsRow">
          <td colspan="5">
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-three-quarters nhsuk-u-margin-left-3">
                <div id="reasons-step-0">
                  <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-2">
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Contact information
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        46 Stirling Way
                        <br>
                        Sutton
                        <br>
                        CB6 2QZ
                      </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Sender
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        Brance Colposcopy Clinic
                      </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Sender address
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        1 Easthampstead Road <br>Bracknell <br>Berkshire <br>RG12 1YQ
                      </dd>
                    </div>

                  </dl>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
    <div class="nhsuk-card nhsuk-card--feature">
    <div class="nhsuk-card__content nhsuk-card__content--feature">
        <h3 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-heading-m">Original participant details</h3>

      <dl class="nhsuk-summary-list nhsuk-u-padding-top-3 nhsuk-summary-list--no-border">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Action
          </dt>
          <dd class="nhsuk-summary-list__value">
            Delay
            </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Defer reason
          </dt>
          <dd class="nhsuk-summary-list__value">
            Pregnancy
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Next test due date
          </dt>
          <dd class="nhsuk-summary-list__value">
            13th August 2023
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            CRM case number
          </dt>
          <dd class="nhsuk-summary-list__value">
            
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Comments
          </dt>
          <dd class="nhsuk-summary-list__value">
            
          </dd>
        </div>

      </dl>
    </div>
  </div>
</div>


  <div class="nhsuk-grid-column-one-half">
    <div class="nhsuk-card nhsuk-card--feature">
    <div class="nhsuk-card__content nhsuk-card__content--feature">
        <h3 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-heading-m">Proposed changes</h3>

      <dl class="nhsuk-summary-list nhsuk-u-padding-top-3 nhsuk-summary-list--no-border">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Action
          </dt>
          <dd class="nhsuk-summary-list__value">
            Delay
            </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Defer reason
          </dt>
          <dd class="nhsuk-summary-list__value">
            <span class="highlight">Recent test</span>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Next test due date
          </dt>
          <dd class="nhsuk-summary-list__value">
            <span class="highlight">25th March 2024</span>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            CRM case number
          </dt>
          <dd class="nhsuk-summary-list__value">
            
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Comments
          </dt>
          <dd class="nhsuk-summary-list__value">
            
          </dd>
        </div>


      </dl>
    </div>
  </div>
  </div>
  <form action="/v12/patient-review/patient-review-complete" method="post">


        {% call fieldset({
          legend: {
            text: "Do you want to confirm the changes?",
            classes: "nhsuk-fieldset__legend--m",
            isPageHeading: true
          }
        }) %}

        {{ radios({
          "idPrefix": "know-route",
          "name": "know-route",
          "items": [
            
            {
              "value": "Yes",
              "text": "Yes, accept changes"
            },
            {
              "value": "No",
              "text": "No, reject changes"
            }
          ]
        }) }}

        {% endcall %}

        <button class="nhsuk-button nhsuk-button--ers">Continue</button>


      </form>

</div>

{% endblock %}
