// Import NHS.UK frontend library

@import 'node_modules/nhsuk-frontend/packages/nhsuk';


// Components that are not in the NHS.UK frontend library

@import 'components/panel-confirmation';
@import 'components/related-nav';
@import 'components/tags';


///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

/*
.inset-text-error {
    border-left-color: $color_nhsuk-red;
}
*/

.hpv-select {
    width: 25%;
}

.nhsuk-character-count {
    margin-bottom:32px
}

@media (min-width: 40.0625em) {
    .nhsuk-character-count {
        margin-bottom:40px
    }
}

.nhsuk-character-count .nhsuk-form-group, .nhsuk-character-count .nhsuk-textarea {
    margin-bottom:4px
}

.nhsuk-character-count__message {
    margin-bottom: 30px;
    margin-top:0
}

.nhsuk-character-count__message--disabled {
    visibility:hidden
}