{% extends "layout-v2.html" %}

{% block pageScripts %}
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/auto.js"></script>
<style type="text/css" media="screen">
  .nhsuk-header__navigation-item:nth-child(4) {
    border-bottom: 4px solid #d8dde0;
  }
</style>
{% endblock %}
{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}



{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">



    <h1 class="nhsuk-heading-l">We are carrying out essential maintenance on the service</h1>

    <p>This could affect access your access to CSMS.</p>
    <p>We are working to complete it as soon as possible.</p>
    <p>You can try again later.</p>
    <p>Last updated: 23rd March 2023 at 9.30am</p>


</div>


{% endblock %}
