{% extends 'layout-v2.html' %}

{% block pageTitle %}
  There has been a problem with your access to CSMS
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">

      <h1 class="nhsuk-card__heading nhsuk-fieldset__legend--l">
            You have been logged out.
          </h1>
         

      <div class="nhsuk-do-dont-list">
        <h3 class="nhsuk-do-dont-list__label">Logged out</h3>
        <ul class="nhsuk-list nhsuk-list--cross" role="list">
          <li>
            <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
              <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
            </svg>
            You have been logged out.
          </li>
        </ul>

        <p>Your session has expired.</p>

        <a class="nhsuk-button nhsuk-button--ers nhsuk-u-margin-top-6" href="smartcard" type="submit">
          Login with NHS Identity
        </a>

        
      </div>


    </div>
  </div>
{% endblock %}
