{% extends 'layout-v2.html' %}

{% block pageTitle %}
  CSMS Access Check
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">

      <h1 class="nhsuk-card__heading nhsuk-fieldset__legend--l">
            CSMS Access Check
          </h1>
          <!-- <div class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p>Further information, updates and training for the launch of the full system in 2024 are available on the NHS Digital website <a href="https://digital.nhs.uk/services/screening-services/national-cervical-screening/new-cervical-screening-management-system">New NHS Cervical Screening Management System.</a></p>
        </div> -->

      <div class="nhsuk-do-dont-list">
        <h3 class="nhsuk-do-dont-list__label">Success</h3>
        <ul class="nhsuk-list nhsuk-list--cross" role="list">
          <li>
            <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
              <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
            </svg>
            You have a role and workgroup to access CSMS
          </li>
        </ul>



        <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">ODS Code</dt>
              <dd class="nhsuk-summary-list__value">98724</dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Role Code</dt>
              <dd class="nhsuk-summary-list__value">R8010</dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Role Name</dt>
              <dd class="nhsuk-summary-list__value">Nurse Access Role</dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Workgroup</dt>
              <dd class="nhsuk-summary-list__value">cervicalscreening</dd>
            </div>
      </div>

      <p>Further information, updates and training for the launch of the full system in 2024 are available on the NHS Digital website <a href="https://digital.nhs.uk/services/screening-services/national-cervical-screening/new-cervical-screening-management-system">New NHS Cervical Screening Management System.</a></p>

      <!-- <div class="nhsuk-do-dont-list">
        <h3 class="nhsuk-do-dont-list__label">Still to check</h3>
        <p>You still need to check that the:</p>
        <ul>
          <li>IA Client is installed and working</li>
          <li>Credential Management is installed and working</li>
        </ul>
        <a href="https://am.nhsidentity.spineservices.nhs.uk/openam/XUI/#/smartcardDiagnostics" class="nhsuk-button nhsuk-button--ers nhsuk-u-margin-top-4 nhsuk-u-margin-right-6" target="_blank">Check access</a><br>
        (opens in a new tab)
      </div> -->

      <!-- <p class="nhsuk-card__description">
            Further information, updates and training resources for the launch of the full system are available on the NHS Digital website <a href="https://digital.nhs.uk/services/screening-services/national-cervical-screening/new-cervical-screening-management-system">New NHS Cervical Screening Managment System starting 2021.</a>
          </p> -->


     

      

    </div>
  </div>
{% endblock %}
