<form action="/v12/prior-notification/prior-notification-12-defer-reason" method="post">


        {% call fieldset({
          legend: {
            text: "Choose a reason to amend the patient's recall date",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        {{ radios({
          "idPrefix": "know-route",
          "name": "know-route",
          "items": [
            {
              "value": "Pregnancy",
              "text": "Pregnancy"
            },
            {
              "value": "recent-test",
              "text": "Recent test"
            },
            {
              "value": "colposcopy",
              "text": "Under care of colposcopy"
            },
            {
              "value": "screening",
              "text": "Undergoing treatment relevant to screening"
            },
            {
              "value": "discharge",
              "text": "Discharge from colposcopy"
            },
            {
              "value": "defer",
              "text": "Patient wishes to defer"
            },
            {
              "value": "admin",
              "text": "Administrative"
            },
            {
              "value": "Yes",
              "text": "Amend next test due date and recall status for incidents or incorrect deferrals"
            }
          ]
        }) }}

        {% endcall %}

        <button class="nhsuk-button nhsuk-button--ers">Continue</button>


      </form>

 


